<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Amélie Lematelot</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
    <nav>
        <a class="nav-title" href="index.html">Curriculum vitæ</a>
        <div class="nav-links">
            <a href="portfolio.html">Portfolio</a>
        </div>
    </nav>

        <!-- Colonne gauche -->
            <section class="profile">
                <header>
                    <div class="container">
                        <div class="top">

                            <div class="left-column">
                                <div class="header-info">
                                    <h1 class="header-name">Amélie Lematelot</h1>
                                    <div class="job-title">
                                        <h2>Développeur Web</h2>
                                    </div>
                                    <p class="header-text">
                                        Actuellement en formation de Concepteur Développeur d'Application à Zone01 (RNCP
                                        niveau 6),
                                        je suis à la recherche d'une alternance afin de développer
                                        mes compétences et mettre en pratique mes connaissances au sein d'un
                                        environnement professionnel et stimulant.
                                        <br>
                                        <br>
                                        Mes années d'expériences dans le secteur de la mode m'ont permises de développer
                                        ma rigueur, mon sens de l'organisation, mon autonomie ainsi que ma créativité.
                                        J'ai toutefois décidé de transformer ma passion pour l'informatique en un projet
                                        de carrière concret en intégrant cette formation au sein de Zone01.
                                        Je souhaiterais désormais rejoindre votre entreprise afin de continuer
                                        d'apprendre aux côtés de professionnels qualifiés.
                                    </p>
                                    <div class="header-buttons">
                                        <a href="#" class="button">Télécharger mon CV</a>
                                        <a href="mailto:amelie.lematelot@hotmail.com" class="button">Me contacter</a>
                                    </div>
                                </div>
                            </div>

                            <div class="right-column">
                                <div class="imgBox">
                                    <div class="box">
                                        <img src="/static/img/profil.jpg" alt="Photo de profil">
                                    </div>
                                </div>

                                <div class="contacts info-card">
                                    <span class="card-label">Contacts</span>
                                    <ul class="contact-list">
                                        <li>
                                            <img src="/static/img/email.svg" class="contact-icon" alt="">
                                            <a
                                                href="mailto:amelie.lematelot@hotmail.com">amelie.lematelot@hotmail.com</a>
                                        </li>
                                        <li>
                                            <img src="/static/img/phone.svg" class="contact-icon" alt="">
                                            06 60 18 43 23
                                        </li>
                                        <li>
                                            <img src="/static/img/links3.svg" class="contact-icon" alt="">
                                            <a href="">Linkedin</a>
                                        </li>
                                        <li>
                                            <img src="/static/img/links3.svg" class="contact-icon" alt="">
                                            <a href="https://github.com/amelie-lmtlt">GitHub</a>
                                        </li>
                                        <li>
                                            <img src="/static/img/location.svg" class="contact-icon" alt="">
                                            Rouen, 76000
                                        </li>
                                        <section class="infos">
                                            <li>07/01/2005</li>
                                            <li>Permis B - Véhiculée</li>

                                        </section>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </header>
            </section>

            <main class="cv">
                <aside class="sidebar">
            <!-- Compétences -->
            <section>
                <h2>Compétences</h2>

                <!--<h3>Développement</h3>-->
                <ul>
                    <li>Go, JavaScript, Java, Python, C</li>
                    <li>Docker, SQLite</li>
                    <li>Git (GitHub, GitLab)</li>
                    <li>Développement Web — HTML, CSS</li>
                    <li>Jira</li>
                </ul>

                <!--<h3 style="margin-top: 20px;">UI/UX — Design</h3>-->
                <ul>
                    <li>Blender</li>
                    <li>Photoshop</li>
                    <li>Adobe Illustrator</li>
                    <li>Krita</li>
                    <li>Clip Studio Paint</li>
                </ul>
            </section>

            <!-- Langues -->
            <section>
                <h2>Langues</h2>
                <ul>
                    <li>Anglais - C1</li>
                    <li>Espagnol - B1</li>
                </ul>
            </section>

            <!-- Qualités -->
            <section>
                <h2>Qualités</h2>
                <ul>
                    <li>Polyvalente</li>
                    <li>Autonome</li>
                    <li>Persévérante</li>
                    <li>Organisée</li>
                </ul>
            </section>

            <!-- Centres d'intérêts -->
            <section>
                <h2>Centres d'intérêt</h2>
                <ul>
                    <li>Dessin</li>
                    <li>Musique</li>
                    <li>Natation</li>
                    <li>Photographie (argentique)</li>
                    <li>Yoga</li>
                </ul>
            </section>

        </aside>


        <!-- Colonne droite -->
        <div class="content">

            <!-- Expériences -->
            <section class="experience">
                <h2>Expériences</h2>

                <article class="experience-item">
                    <span class="date">Mai 2025 - Déc. 2025</span>
                    <h3>Contrat d'apprentissage - Hermès</h3>
                    <p>Formation en petite maroquinerie</p>
                </article>

                <article class="experience-item">
                    <span class="date">2024 - 2025</span>
                    <h3>Alternance - L'Atelier Retouche</h3>
                    <p>Le Bon Marché, Paris</p>
                </article>

                <article class="experience-item">
                    <span class="date">2025</span>
                    <h3>Projets indépendants - Graphisme</h3>
                    <p>
                        Soluna, entreprise d'évènementiel.<br>
                        <p>Kréatiks, micro-entreprise de création sur bois.</p>
                    </p>
                </article>

            <!-- Formation -->
            <section class="education">
                <h2>Formations</h2>

                <article class="education-item">
                    <span class="date">2025 - aujourd'hui</span>
                    <h3>Développeur Full Stack</h3>
                    <p>Zone01, Normandie</p>
                </article>

                <article class="education-item">
                    <span class="date">2023 - 2025</span>
                    <h3>CAP MMVF - Métiers de la mode, vêtement flou</h3>
                    <p>Institut Français de la Mode, Paris</p>
                </article>
            </section>

        </div>

    </main>

</body>

</html>